<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Estadisticas.Datos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SIPV.Datos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Estadisticas.Datos.Properties.Settings>
            <setting name="SIPV_Datos_ws_SIPV_SIPV_UI_WS_CARGA_DATOS"
                serializeAs="String">
                <value>http://localhost:51642/SIPV.Web/UI_WS_CARGA_DATOS.asmx</value>
            </setting>
            <setting name="Estadisticas_Datos_ws_estadisticas_SIPV_UI_WS_CARGA_DATOS"
                serializeAs="String">
                <value>http://localhost:51642/Estadisticas.Web/UI_WS_CARGA_DATOS.asmx</value>
            </setting>
        </Estadisticas.Datos.Properties.Settings>
        <SIPV.Datos.Properties.Settings>
            <setting name="SIPV_Datos_ws_SIPV_SIPV_UI_WS_CARGA_DATOS" serializeAs="String">
                <value>http://localhost:51642/SIPV.Web/UI_WS_CARGA_DATOS.asmx</value>
            </setting>
            <setting name="Estadisticas_Datos_ws_estadisticas_SIPV_UI_WS_CARGA_DATOS"
                serializeAs="String">
                <value>http://localhost:51642/SIPV.Web/UI_WS_CARGA_DATOS.asmx</value>
            </setting>
            <setting name="Estadisticas_Datos_ws_estadisticas_incop_UI_WS_CARGA_DATOS"
                serializeAs="String">
                <value>http://localhost:51642/SIPV.Web/UI_WS_CARGA_DATOS.asmx</value>
            </setting>
        </SIPV.Datos.Properties.Settings>
    </applicationSettings>
</configuration>