<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Estadisticas.Bussiness.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SIPV.Bussiness.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Estadisticas.Bussiness.Properties.Settings>
            <setting name="SIPV_Bussiness_ws_SIPV_SIPV_UI_WS_CARGA_DATOS"
                serializeAs="String">
                <value>http://localhost:51642/SIPV.Web/UI_WS_CARGA_DATOS.asmx</value>
            </setting>
            <setting name="SIPV_Bussiness_SIPV_SIPV_SIPV_SIPV"
                serializeAs="String">
                <value>http://www.puertodecaldera.com/app_operaciones/SIPV_SIPV.asmx</value>
            </setting>
            <setting name="Estadisticas_Bussiness_Estadisticas_SIPV_Estadisticas_SIPV"
                serializeAs="String">
                <value>http://www.puertodecaldera.com/app_operaciones/Estadisticas_SIPV.asmx</value>
            </setting>
            <setting name="Estadisticas_Bussiness_ws_estadisticas_SIPV_UI_WS_CARGA_DATOS"
                serializeAs="String">
                <value>http://localhost:51642/Estadisticas.Web/UI_WS_CARGA_DATOS.asmx</value>
            </setting>
        </Estadisticas.Bussiness.Properties.Settings>
        <SIPV.Bussiness.Properties.Settings>
            <setting name="SIPV_Bussiness_ws_SIPV_SIPV_UI_WS_CARGA_DATOS"
                serializeAs="String">
                <value>http://localhost:51642/SIPV.Web/UI_WS_CARGA_DATOS.asmx</value>
            </setting>
            <setting name="SIPV_Bussiness_SIPV_SIPV_SIPV_SIPV" serializeAs="String">
                <value>http://www.puertodecaldera.com/app_operaciones/SIPV_SIPV.asmx</value>
            </setting>
            <setting name="Estadisticas_Bussiness_Estadisticas_SIPV_Estadisticas_SIPV"
                serializeAs="String">
                <value>http://www.puertodecaldera.com/app_operaciones/Estadisticas_SIPV.asmx</value>
            </setting>
            <setting name="Estadisticas_Bussiness_ws_estadisticas_SIPV_UI_WS_CARGA_DATOS"
                serializeAs="String">
                <value>http://localhost:51642/SIPV.Web/UI_WS_CARGA_DATOS.asmx</value>
            </setting>
        </SIPV.Bussiness.Properties.Settings>
    </applicationSettings>
</configuration>