<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Costos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Costos.Properties.Settings.CostosConnectionString"
            connectionString="Data Source=sqldelta1;Initial Catalog=Costos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SIPV.Security.Properties.Settings.SIGTA_TIConnectionString"
            connectionString="Data Source=XYLON;Initial Catalog=SIGTA-TI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Costos.Properties.Settings>
            <setting name="Operaciones_cr_go_hacienda_www_TRMovWS" serializeAs="String">
                <value>http://www.hacienda.go.cr/TICATEST/WSTICA/atrmovws.aspx</value>
            </setting>
        </Costos.Properties.Settings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
