<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SIPV.Properties.Settings.EstadisticaConnectionString"      connectionString="Data Source=SQLDELTA1;Initial Catalog=Estadistica;Integrated Security=True"      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Server" value="TI-EP-06\SQL_2008" />
    <!--<add key="Server" value="192.168.0.214" />-->
    <add key="Database" value="SIPV" />
    <add key="BDConsPredefinidas" value="SIPV" />   
    <add key="Compania" value="SIPV" />
    <add key="NombreCompania" value="NOMBRE EMPRESA" />
    <add key="Sistema" value="SIPV" />
    <add key="NombreSistema" value="Sistema de Punto de Ventas" />
    <add key="ArchivoLog" value="C:\SIPV.Library\Log"/>    
    <add key="EncaReport" value="C:\SIPV.Library\Images\Enca_Reports.png" />
    <add key="ArchivoLogo" value="C:\SIPV.Library\Images\Logo.jpg" />
    <add key="Directorio" value="C:\SIPV\" />
    <add key="TempDir" value="C:\SIPV.Library\Temp\" />
    <add key="ReportDir" value="C:\SIPV.Library\Reportes\" />
    
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>