<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="SIPV.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
  <add name="SIPV.Windows.Properties.Settings.EstadisticaConnectionString"
   connectionString="Data Source=sqldelta1;Initial Catalog=Estadistica;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="SIPV.Windows.Properties.Settings.EstadisticaConnectionString1"
   connectionString="Data Source=SQLDELTA1;Initial Catalog=Estadistica;User ID=SA;Password=ARMAGEDON"
   providerName="System.Data.SqlClient" />
  <add name="SIPV.Windows.Properties.Settings.SIPVConnectionString"
   connectionString="Data Source=XYLON;Initial Catalog=SIPV;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="SIPV.Windows.Properties.Settings.SIPVConnectionString1"
   connectionString="Data Source=TI-EP-06\SQL_2008;Initial Catalog=SIPV;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="SIPV.Windows.Properties.Settings.SIPV2ConnectionString"
   connectionString="Data Source=TI-EP-06\SQL_2008;Initial Catalog=SIPV2;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="SIPV.Windows.Properties.Settings.SIPV2ConnectionString1"
   connectionString="Data Source=XYLON;Initial Catalog=SIPV2;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <applicationSettings>
  <SIPV.Windows.Properties.Settings>
   <setting name="SIPV_Windows_ws_SIPV_SIPV_UI_WS_CARGA_DATOS" serializeAs="String">
    <value>http://localhost:51642/SIPV.Web/UI_WS_CARGA_DATOS.asmx</value>
   </setting>
   <setting name="Estadisticas_Windows_ws_estadisticas_SIPV_UI_WS_CARGA_DATOS"
    serializeAs="String">
    <value>http://localhost:51642/SIPV.Web/UI_WS_CARGA_DATOS.asmx</value>
   </setting>
  </SIPV.Windows.Properties.Settings>
 </applicationSettings>
</configuration>
